.race-container {
  padding: 20px;
  background-color: #ffffff; 
  color: white;
  min-height: 100vh;
}
.ng-container{
    font-weight: bold;
}

.section-title {
  font-family: 'F1 Bold', sans-serif;
  border-left: 5px solid #e10600; 
  padding-left: 15px;
  margin-bottom: 25px;
}

.f1-race-table {
  width: 100%;
  background: #1f1f27 !important;
  border-radius: 8px;
  overflow: hidden;
}

.mat-mdc-header-cell {
  color: #898997 !important;
  font-weight: bold !important;
  text-transform: uppercase;
  font-size: 12px;
}

.race-row {
  transition: background 0.2s;
  color: #efeded !important;
  border-bottom: 1px solid #8f8fcb;
}

.race-row:hover {
  background-color: #e2e2f371 !important;
}

.mat-mdc-cell {
  color: #f5d19a !important;
  padding: 15px 10px !important;
}

.bold-text {
  font-weight: 700;
  letter-spacing: 0.5px;
}
.f1-logo {
  background-image: url('/images/f1.webp');
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 0;
  display: inline-block;
}

